#toast-container {
  z-index: 12000;
  pointer-events: none;

  > div,
  > div > * {
    pointer-events: auto;
  }

  &.toast-bottom-right {
    right: 24px;
    bottom: 24px;

    > div {
      margin-bottom: 12px;
    }
  }
}
