<div class="agency-dialog">
  <div class="dialog-header">
    <h2 class="dialog-title">Banner</h2>
    <app-button preset="close" icon="bi bi-x-lg" ariaLabel="Close" (clicked)="close()" />
  </div>

  <form class="dialog-body" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="form-label" for="banner-link">Link</label>
      <input
        id="banner-link"
        type="text"
        class="form-control"
        formControlName="link"
        placeholder="https://www.google.com"
      />
    </div>

    <div class="form-group">
      <label class="form-label" for="banner-image">Banner Image</label>
      <div class="file-input-wrap">
        <input
          id="banner-image"
          type="file"
          class="file-input"
          accept="image/*"
          (change)="onFileSelected($event)"
        />
        <span class="file-name">{{ fileName() }}</span>
      </div>
    </div>

    <app-button preset="submit-full" type="submit">Submit</app-button>
  </form>
</div>
